.number_increment_decrement_box {
  /* -webkit-appearance: none; */
  margin: 0;
  background-color:red;
  width: 5em;
  height:3em;
  /* border-radius:1em; */
  text-align:center
}


/* input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
} */
 