#searchLine{
    float: right;
    font-style: oblique;
    margin: 5px;
    color: thistle;
}

#body{
    /* background-image: url("./images/img1.jpg");
    background-size: cover; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    height: fit-content;
}

h1{
    color:yellow;
    font-size: 1.5rem;
    text-align: center;
}
.foodList{
    color: white;
    text-align: center;
}
.foodList ul{
    list-style: none;
}