.manager {
    width: 100vw;
    height: 100vh;
    display: table;
    
}

.reports {
    width: 100vw;
    height: 100vh;
    display: table;
    
}

.hrmanagement {
    width: 100vw;
    height: 100vh;
    display: table;
}

body {
    margin: 0;
    padding: 0;
}

.Sidebar {
    height: 100%;
    width: 250px;
    background-color: #384146;
    display: table-cell; 
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidebarList .SidebarRow {
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.SidebarList .SidebarRow:hover {
    cursor: pointer;
    background-color: #262C2F;
}

.SidebarList #active {
    background-color: #262C2F;
}

.SidebarList .SidebarRow #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.SidebarRow #title{
    flex: 70%;
}

