/* NavBar */
nav img{
    height: 50px;
    width: 120px;
    
}
.new3{
    background-image: linear-gradient(-90deg, rgb(0, 0, 0), rgb(77, 77, 77));
}
 .nav-link{
    font-family: sans-serif;
    font-size:large;
    font-weight: bold; 
    margin: 0 1rem;
    display: block;
    text-align: center;
 }
 
/* End of NavBar */

/* Hero Component */
.defaultHero,
.roomsHero,
.aboutus{
    min-height: calc(90vh - 66px);
    background: url("./images/hotel2.jpg") center/ cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstHero,
.activity-Hero{ 
  min-height: calc(90vh - 66px);
  background: url("./images/waterBoat.jpg") center/ cover no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.secondHero,
.facility-Hero{ 
  min-height: calc(90vh - 66px);
  background: url("./images/bbq-2.jpg") center/ cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thiredHero,
.foodhero{
  min-height: calc(90vh - 66px);
  background: url("./images/food.jpg") center/ cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomsHero{
    background-image: url("./images/hotel-room.jpg");
    min-height: 60vh;
    background-attachment:fixed;
}
.activity-Hero{
  min-height: 60vh;
  background-image: url("./images/new1.jpg") ;
  background-attachment:fixed;
 }
 .facility-Hero{
  min-height: 60vh;
  background-image: url("./images/Servise.jpg") ;
  background-attachment:fixed;
 }
 .aboutus{
  min-height: 60vh;
  background-image: url("./images/cmposs.jpg") ;
  background-attachment:fixed;
 }
 .foodhero{
  min-height: 60vh;
  background-image: url("./images/food.jpg") ;
  background-attachment:fixed;
 }
/* End of Hero */

/* BAnner */
.default-Hero{
    min-height: calc(100vh - 66px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron{
    display:inline-block;
    background:rgba(0, 0, 0, 0.5);
    color:rgb(0, 0, 0);
    padding: 2rem 9rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.jumbotron h1{
    font-size: 3rem;
    font-family:monospace;
    color:ghostwhite;
    /* text-shadow: 2px 2px 5px gold; */
}

.jumbotron div{
    width:10rem;
    height: 3px;
    background:lightgrey;
    margin: 1.7rem auto;
}

.jumbotron h2{
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:ghostwhite;
}
.jumbotron h3{
    font-size: 2.5rem;
    color:mediumturquoise;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* .jumbotron h2:hover{
  font-size: 1.55rem;
} */
/* End of Banner */

/* Section title */
.section-title{
    text-align: center;
    padding:2px;
   
}

.section-title h4{
    font-size: 2.5rem;
   
}

.section-title div{
    width:4rem;
    height: 3px;
    background:black;
    align-items: center;
    margin: 1.3rem auto;
}
 /* End of title */

/* Animation */
.animation-area { 
    /* position: absolute; */
    top: 0;
    z-index: -1;
    background: url("./images/Empress-Falls-Abseil.jpg") center/ cover no-repeat;
    width: 100%;
    min-height: calc(120vh - 66px);
    background-attachment:fixed;
}
.box-area {
    /* position:relative; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.8);
    animation: animate 20s linear infinite;
    bottom: -150px;
    border-radius: 30%;
}
.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.2;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0.3;
    }
}
/* Slider */
.carousel-item img {

  width:640px;
  height:340px;
}

.slider-row{
  display: flex;
  /* background-color: black; */
  color: black;
  flex-flow: row wrap;
  /* height: 25rem; */
}
.col-md-6 h1{
  padding: 1.5rem;
  font-size: 2rem;
}
.col-md-6 p{
  justify-content: center;
}
.col-md-6{
  padding: 2rem;
}
@media screen and (max-width: 800px) {
  .col-md-6 h1 {
    font-size: 18px;
  }
  .jumbotron{
    position: relative;
    width: 80%;
    height: 220px;
  }
  .jumbotron h1{
    font-size: 28px;
    position: absolute;
    left: 0%;
    right: 0%;
  }
  .jumbotron div{
    top: 25%;
    position: absolute;
    left: 0;
    right: 0;
    width: 70px;
    height: 2px;
  }
  .jumbotron h2{
    /* margin-top: 50px; */
    top: 35%;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 16px;
  }
  .jumbotron p{
    bottom: -5%;
    position: absolute;
    left:10%;
    right: 10%;
    padding: 10px 15px;
  }
  .jumbotron h2:hover{
    font-size: 18px;
  }
}
hr.new1 {
  border-top: 1px solid rgb(226, 226, 226);
}
@media screen and (max-width: 800px) {
  .col-md-6 {
    font-size: 14px;
  }
}

/* services */
.services {
  padding: 5rem 0;
}
.services {
  /* background:linear-gradient(90deg, #5242e4 0%, #819dec 50%, #5242e4 100%); */
  background-color:blanchedalmond;
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.servicess {
  padding: 0.75rem 0;
}
.servicess {
  /* background:linear-gradient(90deg, #c7c4bd 0%, #e4e2dd 50%, #faf9f8 100%); */
  text-align: center;
}
.servicess-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */

/* Footer */
.main-footer{
  background-color: black;
  color: aliceblue;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.main-footer img{
  height: 60%;
  width: 50%;
}
.main-footer h4{
  text-align: center;
}
.main-footer ul li{
  text-align: center;
}

.card body{
  border-color: aqua;
}

/*Adithya*/
.loading{
  text-transform: capitalize;
  text-align:center;
  margin-top:3rem;
}
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
/* .roomCover{
  background:linear-gradient(90deg, #c7c4bd 0%, #e4e2dd 50%, #faf9f8 100%);
} */
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(240, 236, 236, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/* Activity Page */
.activity-row{
  background-image: url('./images/img4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.activity-info{
  padding: 3rem;
  /* background:linear-gradient(90deg, #c7c4bd 0%, #e4e2dd 50%, #faf9f8 100%); */
}
.activity-info img{
    width: 20rem;
    margin: 0.5rem;
}
.activity-info img:hover{
  box-shadow:  0 6px 10px black;

}

.activity-info h3,h5,h6{
  font-family:cursive;
  font-weight: bolder;
}

.activity-info p{
  font-family:cursive;
  font-size: 18px;
}

.activity-info ul li{
  font-family:cursive;
  font-size: 18px;
}
/* End of Activity Page */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/


.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.schedule-btn{
  position: fixed;
  right: 0;
  bottom: 40px;
  z-index: 10;
}
.Toastify__toast--success {
  background: #000;
}
.Toastify__progress-bar--success {
  background: rgb(0, 255, 0);
}
.Toastify__toast--error {
  background: #000;
}
.Toastify__progress-bar--error {
  background: rgb(255, 0, 0);
}

Table th,td{
  text-align: center;
}


